/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header.headerNone {
    display: none;
}

#header {
    height: 100vh;
    transition: ease-in-out 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
}

#header.active {
    display: none;
}

#header * {
    transition: ease-in-out 0.5s ease;
}

#header .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header .container .text-1 {
    line-height: 1;
    font-size: 1.2em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

#header .container .text-2 {
    display: inline-block;
    font-size: 2.8em;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#header .container .text-3 {
    font-size: 1.5em;
}

#header .container .text-3 .typing {
    color: var(--color-primary);
}

#header img {
    padding: 0;
    margin: 0;
}

#header .social-links {
    margin-top: 35px;
    display: flex;
}

#header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-third);
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}

#header .social-links a:hover {
    background: var(--color-primary);
}

/* Media Query */

@media (max-width: 992px) {

    #header .container .text-2{
        font-size: 1.7em;
    }

    #header .container .text-3{
        font-size: 1em;
    }

    #header .social-links {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header .container a.button_generic{
        margin-top: 6%;
        font-size: .8em;
    }

}

@media (max-width: 400px) {

    #header .social-links a {
        font-size: 16px;
        width: 33px;
        height: 33px;
    }

}