/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
    height: 50px;
    display: block;
    background: none;
}

.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--color-third);
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: rgba(255, 255, 255, 0.15);
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: var(--color-primary);
}

.modal__container{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#modal-tecno{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 87vh;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background: rgba(0, 0, 0, 0.754);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 99999;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

#modal-tecno.active{
    display: flex;
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#modal-tecno .container__modal{
    width: 100%;
    height: 100%;
    text-align: center;
}

.container__modal .cerrar__modal{
    cursor: pointer;
    position: absolute;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin: 0;
    border: none;
    box-shadow: none;
}

.container__modal .cerrar__modal:hover{
    background: var(--color-secundary);
    font-size: 1.2em;
}

/* MODAL */

.container__modal .container_m{
    float: left;
    position: relative;
    padding: 10px 0;
    z-index: 1;
    width: 100%;
}

.container__modal .container_m .section-title p{
    color: var(--color-third);
    font-size: 13px;
    line-height: 20px;
    max-width: 550px;
    margin: 0 auto;
}

.container__modal .container_m .section-title h3{
    float: left;
    width: 100%;
    text-align: center;
    color: var(--color-primary);
    font-size: 2em;
}

.container__modal .container_m .section-title .section-separator{
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 25px;
}

.container__modal .container_m .section-title .section-separator::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 120px;
    border-radius: 3px;
    z-index: 2;
    background: var(--color-primary);
    margin-left: -60px;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.listing-caroucel-button{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -25px;
    z-index: 100;
    cursor: pointer;
    color: var(--color-third);
    border: 1px solid var(--color-primary);
    box-shadow: 0px 0px 10px 1px var(--color-primary);
    transition: all 200ms linear;
    outline: none;
}

.listing-caroucel-button:hover {
    color: var(--color-third);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.listing-caroucel-button.listing-carousel-button-next{
    right: -30px;
    padding-right: 24px;
    border-radius: 60px 0 0 60px;
}

.listing-caroucel-button.listing-carousel-button-prev{
    left: -30px;
    padding-left: 24px;
    border-radius: 0 60px 60px 0;
}

.listing-caroucel-button.listing-carousel-button-next:hover{
    right: -15px;
}

.listing-caroucel-button.listing-carousel-button-prev:hover{
    left: -15px;
}

.listing-caroucel-button.listing-carousel-button-prev i,
.listing-caroucel-button.listing-carousel-button-next i{
    font-size: 1.5em;
}

.tecno-item{
    transition: all .5s ease-in-out;
    transform: scale(0.9);
    opacity: 0.9;
}

.listing-rating i{
    color: hsl(56, 98%, 52%);
    font-size: 2em;
}

.tecnologias-text{
    padding: 75px 50px 75px;
    overflow: hidden;
    background: var(--color-secundary);
    border: 1px solid var(--color-secundary);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.tecnologias-text-after{
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: var(--color-third);
    opacity: .3;
    font-size: 35px;
    transition: all 400ms linear;
    bottom: 25px;
    right: 30px;
}

.tecnologias-text-before{
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: var(--color-third);
    opacity: .3;
    font-size: 35px;
    transition: all 400ms linear;
    top: 25px;
    left: 30px;
}

.tecnologias-text .listing-rating{
    float: none;
    display: inline-block;
    margin-bottom: 12px;
}

.tecnologia-text h3{
    font-weight: 900;
    color: var(--color-primary);
    font-size: 18px;
}

.tecnologia-text h4{
    font-weight: 600;
    font-size: 12px;
    padding-top: 6px;
    color: var(--color-third);
}

.tecnologias-carousel .swiper-slide{
    padding: 30px 0;
}

.tecno-img{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
}

.tecno-img img{
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 100%;
    border: 6px solid var(--color-primary);
    box-shadow: 0px 0px 10px 1px var(--color-primary);
}

.swiper-slide-active .tecnologia-text{
    background: var(--color-third);
    box-shadow: 0px 0px 10px 1px var(--color-primary);
}

.tecnologia-text p{
    color: var(--color-third);
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 700;
}

.text-link{
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    background: var(--color-secundary);
    border: 1px solid var(--color-primary);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    left: 50%;
    width: 200px;
    margin-left: -100px;
}

.swiper-slide-active .tecno-item{
    opacity: 1;
    transform: scale(1.0);
}

.tc-pagination{
    float: left;
    margin-top: 10px;
    width: 100% !important;
}

.tc-pagination_wrap{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
}

.tc-pagination2{
    float: none;
    display: inline-block;
    padding: 14px 0;
    background: var(--color-third);
    border-radius: 30px;
    min-width: 250px;
    border-bottom: 0;
}

.tc-pagination .swiper-pagination-bullet,
.tc-pagination2.swiper-pagination-bullet{
    opacity: 1;
    background: var(--color-primary);
    margin: 0 2px;
    width: 10px;
    height: 10px;
    transition: all 300ms ease-in-out;
}