/*--------------------------------------------------------------
# IMPORT'S
--------------------------------------------------------------*/

@import url(./preloader.css);
@import url(./music.css);
@import url(./header.css);
@import url(./nav-menu.css);
@import url(./about.css);
@import url(./credits.css);
@import url(./counts.css);
@import url(./skill.css);
@import url(./interests.css);
@import url(./testimonials.css);
@import url(./services.css);
@import url(./contact.css);

/*--------------------------------------------------------------
# ROOT
--------------------------------------------------------------*/

:root{
    --color-primary: hsl(348, 83%, 47%);
    --color-secundary: hsl(0, 0%, 2%);
    --color-third: hsl(0, 0%, 100%);
}

/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
}

body {
    user-select: none;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-secundary);
    color: var(--color-third);
    position: relative;
    background: transparent;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    background: var(--color-secundary) url("../img/bg.jpg") bottom right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

a{
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/* MEDIA QUERY */

@media (min-width: 1024px) {
    body::before {
    background-attachment: fixed;
    }
}

/*--------------------------------------------------------------
# SECTIONS GENERAL
--------------------------------------------------------------*/
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 1.87em;
}

section .container.containerTec{
    padding: 0 1em 2em;
    text-align: center;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 150px;
    height: 1px;
    display: inline-block;
    background: var(--color-primary);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--color-third);
}

a.button_generic{
    color: var(--color-primary);
    background: hsla(0, 0%, 0%, 0.815);
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 7px;
    border: 1px solid var(--color-primary);
    margin-top: 3%;
    width: 12em;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 0px 15px 1px var(--color-primary);
    transition: all .5s ease !important;
}

a.button_generic:hover{
    background: var(--color-primary);
    color: var(--color-third);
}

a.button_generic:active{
    transform: scale(.8);
}

::-webkit-scrollbar{
    display: none;
}

/*--------------------------------------------------------------
# SCROLL UP
--------------------------------------------------------------*/
.scrolltop{
    position: fixed;
    right: 2.5rem;
    bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--color-primary);
    border-radius: .4rem;
    z-index: 9998;
    transition: 1.2s;
    visibility: hidden;
    scroll-behavior: smooth;
}

.scrolltop_icon{
    font-size: 1.2rem;
    color: var(--color-third);
}

.show-scroll{
    visibility: visible;
    bottom: 2.7rem;
}

.scrolltop:hover{
    opacity: 0.5;
}

/*--------------------------------------------------------------
# MEDIS QUERY
--------------------------------------------------------------*/
@media (max-width: 800px) {
    section {
    top: 120px;
    }

    section.section-show {
    top: 80px;
    }

    .section-title p {
        font-size: 25px;
    }

    .scrolltop{
        right: 1rem;
    }
} 